@{
    ViewData["Title"] = "Home";
}
@model IEnumerable<Medico>

<h2>Informacion institucional</h2>
<h3>Medicos de la institucion</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.apellido)
             </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Especialidad)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>

            </tr>
        }
    </tbody>
</table>
